.cooler_ScrollBox {
  max-height: 69vh;
  overflow-x: hidden;
  overflow-y: overlay;
}
.cooler_ScrollBox::-webkit-scrollbar {
  width: 0.8rem;
  //   height:0rem;
}

.cooler_ScrollBox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 238, 255, 0.294);
}

// ------------RWD------------------------

@media (max-width: 1630px) {
  .cooler_ScrollBox {
    max-height: 60vh;
  }
}
