.passwordEdit {
    background-color: rgba(0, 0, 0, 0.770);
    color: white;
    border: 1px solid #2ce6ff;
    border-radius: 0 30px 0 0;
    box-shadow: 5px 5px 15px 5px #000000;
    padding:10px 0;
    padding-top: 15%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

    h4 {
        color: #2ce6ff;
        font-weight: 600;
    }

    p {
        color: red;
    }

    input {
        width: 60%;
        text-align: center;
        color: white;
        background-color: transparent;
        border: none; /* Removes the default border */
        border-bottom: 1px solid gray;
        margin-bottom: 6%;
    }
    input:focus {
        outline: none /* Removes the border when the input is clicked */
    }

    button {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: .5em 2em .5em 2em;
        background-color: var(--main);
        box-shadow: 3px 3px 0 0 #61dafb82;
        border: none;
        transition: 1s ease;
        text-decoration: none;
    }

    button:hover {
        box-shadow: 8px 8px 0 0 #61dafbd2;
        background-color: black;
        color: var(--main);
        border: 1px solid var(--main);
    }
}

// 筆電版
@media screen and (max-width: 1400px) {
    .passwordEdit {
        padding-top: 8%;
        h4 {
            font-size: 1.1rem;
            color: #2ce6ff;
            font-weight: 600;
        }
        input {
            margin-bottom: 3px;
        }
    }
}

// 手機版
@media screen and (max-width: 1200px) {
    .passwordEdit {
        color: white;
        border: 1px solid #2ce6ff;
        border-radius: 0 30px 0 0;
        box-shadow: 5px 5px 15px 5px #000000;
        h4 {
            margin-top: 2%;
        }

        p {
            color: red;
        }

        input {
            width: 60%;
            text-align: center;
            color: white;
            background-color: transparent;
            border: none; /* Removes the default border */
            border-bottom: 1px solid gray;
            margin-bottom: 6%;
        }
        input:focus {
            outline: none /* Removes the border when the input is clicked */
        }

        button {
            margin-top: 5%;
            margin-bottom: 5%;
            padding: .5em 2em .5em 2em;
            background-color: var(--main);
            box-shadow: 3px 3px 0 0 #61dafb82;
            border: none;
            transition: 1s ease;
            text-decoration: none;
        }

        button:hover {
            box-shadow: 8px 8px 0 0 #61dafbd2;
            background-color: black;
            color: var(--main);
            border: 1px solid var(--main);
        }
    }
}
