.personal {
    height: 98%;
    background: rgba(0, 0, 0, 0.770);
    color: white;
    border: 1px solid #2ce6ff;
    border-radius: 0 30px 0 0;
    padding-top: 10px;
    h5 {
        color: #2ce6ff;
        font-weight: 600;
    }
    p {
        margin-bottom: 4%;
    }
    button {
        padding: .5em 2em .5em 2em;
        background-color: var(--main);
        box-shadow: 3px 3px 0 0 #61dafb82;
        border: none;
        transition: 1s ease;
        text-decoration: none;
    }

    button:hover {
        box-shadow: 8px 8px 0 0 #61dafbd2;
        background-color: black;
        color: var(--main);
        border: 1px solid var(--main);
    }
}

// 電腦版
@media screen and (min-width: 1200px) {
    .personal {
        height: 90%;
        background: rgba(0, 0, 0, 0.770);
        color: white;
        border: 1px solid #2ce6ff;
        border-radius: 0 30px 0 0;
        box-shadow: 5px 5px 15px 5px #000000;
        padding:10px 0;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        h5 {
            font-size: 1.1rem;
        }
        p {
            margin-bottom: 2%;
        }
        button {
            height: 100%;
            padding: .4em 1em .4em 1em;
            background-color: var(--main);
            box-shadow: 3px 3px 0 0 #61dafb82;
            border: none;
            transition: 1s ease;
            text-decoration: none;
        }

        button:hover {
            box-shadow: 8px 8px 0 0 #61dafbd2;
            background-color: black;
            color: var(--main);
            border: 1px solid var(--main);
        }
    }
}