.ehartsBTNBOX {
    height: 20%;
}

.ehartsBTN {
    height: 35%;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px;
    background-color: black;
    color: var(--main);
    border-radius: 5px;
    transition: .3s ease;
}

.ehartsBTN:hover {
    color: var(--main);
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 4px 4px 0px 0px #047d92;
}

// 筆電版
@media screen and (max-width: 1400px) {
    .ehartsBTNBOX {
        height: 25%;
    }
}