.carrier-img {
  width: 375px;
  height: 375px;
  position: relative;
//   outline: 1px solid lawngreen;
  display: flex;
  justify-content: center;
  align-items: center;

  .carrier-display {
    // outline: 1px solid lightsteelblue;
    width: 375px;
    height: 375px;
    position: relative;
    .carrier-container {
      position: absolute;
      width: 320px;
      height: 300px;
      overflow: hidden;
    //   outline: 1px solid lightcoral;
      z-index: 5;
      left: 30px;
      top: -10px;

      .carriers {
        width: 600px;
        display: flex;
        position: absolute;
        left: 0;
        // left: -320px;
        // left: -640px;
        top: -10px;
        transition: 1s ease;
      }
    }
    .carriers-bg {
      width: 320px;
      height: 300px;
    //   outline: 1px solid blue;
      object-fit: contain;
      position: absolute;
      left: 30px;
      top: 50px;
    }
  }
}

// .carrier-img:hover .carrier-display  .carriers {
//   left: -320px;
// }

.carrier-select-control {
  width: 100%;
  height: 100px;
//   outline: 1px solid lawngreen;
  display: flex;
  justify-content: space-between;

  .carrier-select {
    width: 100px;
    // outline: 1px solid lightblue;
    position: relative;

    input {
      width: 100px;
      height: 100px;
      position: absolute;

      opacity: 1;
    }

    img {
      position: absolute;
      width: 100%;
      z-index: 5;
      pointer-events: none;
    }
  }
}

.bg-train{
  position: absolute;
  transition: 1s ease;
}

@media only screen and (min-width: 768px) {
  .carrier-img {
    width: 500px;
    height: 500px;
  }
}
