.message-area::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #46424000;
}

.message {
    -ms-overflow-style: none;

    .message-area {
        margin: 24px 0;
        height: 300px;
        overflow: scroll;
        -ms-overflow-style: none;
    }


    .mes-input {
        display: flex;
        padding: 12px;
        outline: 1px solid lightgray;

        input {
            width: 100%;
            height: 48px;


            text-align: left;
            word-wrap: break-word;
        }
    }
}

.message::-webkit-scrollbar {
    display: none;
}