*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}



.mainPicRow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.mainPic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    img{
        width: 100%;
        background-size: cover;
        background-position: center;
        box-shadow: 30px 30px 2px black;
                
    }
}

.mainPicText{
    position: absolute;
    right: 60px;
    top: 170px;
  h2{
    font-weight: 400;
    font-size: 3.4rem;
    color: black;
    margin-top: 13px;
    letter-spacing: 3px;
  }
}

.mainPicText-h2{
    position: absolute;
    right: 60px;
    top: 128px;
    color: black;
    h2 {
        position: relative;
        color: transparent;
        font-size: 3.4rem;
        font-weight: 300;
        letter-spacing: 3px;
    
    }
    
    h2::before,
    h2::after {
        /* 通過 attr 獲取屬性的值 */
        content: attr(data-content);
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        color: black;
    }
    
    /* 切割部分 */
    h2::before {
        /* 上對齊 */
        top: 0px;
        height: 45%;
    }
    
    /* 剩餘部分 */
    h2::after {
        /* 下對齊 */
        bottom: 0;
        height: 58%;
    }
}

.mainPicMore{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03DAC5;
    position: absolute;
    width: 250px;
    right: -20px;
    top: 300px;
    box-shadow: 5px 8px 0px #03dac579;
    h2{
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 6px;
        margin: auto;
    }
    svg{
        width: 40px;
        color: black;
    }
   
}






