*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.productDetailsImg{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
    }
}

.productDetailBody{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .detail-name{
        font-size: 1.25rem;
    }
    .detail-brand{
        font-size: 1.15rem;
        color: gray;
    }
    .detail-price{
        font-size: 1.25rem;
    }
    span{
        color: black;
    }
}

.detail-int-cart{
    width: 80%;
    border-radius: 25px;

    button{
        width: 100%;
        border-radius: 25px;
        background-color: black;
        color: white;
        padding: 10px 0px;
    }
    span{
        
        font-size: 1.15rem;
    }
}

.detail-int-heart{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 100%;
        vertical-align: middle;
        border-radius: 25px;
        background-color: white;
      border: 1px solid gray;
      padding: 10px 0px;
    }
    svg{
      width: 20px;
    vertical-align: middle;
    }
    span{
        font-size: 1.15rem;
    }
}

.detail-info{
    width: 80%;
    flex-grow: 1;
    h5{
        font-size: 1.25rem;
    }
    p{
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
        color: black;
    }
}

.whoSeeName{
    display: flex;
    justify-content: center;
    align-items: center;
    h5{
        text-align: center;
    }
    
}

.whoSeeImgBox{
    
    img{
        width: 100%;
    }
}

.whoSeeImg{
    // width: 25%;
    // height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 100%;
    }
}

// 輪播牆的button css
.slick-prev {
   background-color: gray;
  }
  .slick-next {
    background-color: gray;
 
  }

//    ------------------------- RWD -------------------------------

@media screen and (max-width:600px) {
    .detailsRwd{
        flex-direction: column;
    }
    .productDetailsImg{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .productDetail{
        width: 100%;
    }
    .productDetailBody{
        width: 100%;
        .detail-name{
            font-size: 18px;
        }
        .detail-brand{
            font-size: 16px;
            color: gray;
        }
        .detail-price{
            font-size: 18px;
        }
        span{
            color: black;
        }
    }
    .detail-int-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .detail-int-heart{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .detail-info{
        width: 100%;
        flex-grow: 1;
        h5{
            font-size: 18px;
        }
        p{
            font-size: 16px;
            line-height: 1.5rem;
            letter-spacing: 0.05rem;
            color: black;
        }
    }
    .whoSeeName{
        h5{
            font-size: 14px;
        }
    }
    .recharts-responsive-container{
        width: 100%;
        height: 100%;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    .whoSeeImgBox{
        width: 100%;
    }
}